*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Poppins',sans-serif;

background:#ffffff;

overflow-x:hidden;

}

.navbar{

transition:.4s;

padding:20px 0;

}

.navbar-brand{

display:flex;

align-items:center;

font-size:22px;

color:white!important;

}

.nav-link{

margin-left:18px;

font-weight:500;

color:white!important;

}

.nav-link:hover{

color:#F9A825!important;

}